<nav class="nav12" >
    <!-- ------------- -->
            <div class="navleft">
                <h5 class="h1r">R</h5>
                <div class="navsarch">
                    <i class="fa-solid fa-magnifying-glass"></i>
                    <input class="navinputsarch" type="text" placeholder="Search">
                </div>
            </div>
    <!-- ------------- -->
            <div class="navcenter">
                <a class="navcenter_one" href=""><i  class="fa-solid fa-house "></i></a>
               <a class="navcenter_one" href=""> <i  class="fa-solid fa-user-group"></i></a>
                <a class="navcenter_one" href="/stories"><i  class="fa-brands fa-youtube "></i></a>
                <a class="navcenter_one" href="/write"><i class="fa-solid fa-pen-to-square"></i></a>
            </div>
    <!-- ------------- -->
            <div class="navright">
               <a class="navcenter_two" href="/lists"><i class="fa-solid fa-list"></i></a> 
                <a class="navcenter_two" href="/signout"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
                <a class="navcenter_two" href="/settings"><i class="fa-solid fa-gear"></i></a>
               <a class="navcenter_two" href="/profile"><img src="" alt="" ></a>
            
            </div>
    <!-- ------------- -->        
        </nav>
    

