<%- include("partials/header")%>

<div class="main_r5">
    <div class="colore15"></div>
    <div class="colore25"></div>
    <div class="main_box_right5">
       <h1 class="h115">Forget Password</h1>
       <form class="f_r5" action="/change-password/<%= id%>" method="post">
            <input class="r15" type="text" name="password" placeholder="password" />
            <button class="btn15">Reset Password</button>
        </form>
        <a href="/signin"><button class="btn25">Back</button></a>
    </div>
</div>

<%- include("partials/footer")%>
