<%- include("partials/header")%>

<div class="main_r4">
    <div class="colore14"></div>
    <div class="colore24"></div>
    <div class="main_box_right4">
       <h1 class="h114">Forget Password</h1>
       <form class="f_r4" action="/forget-password" method="post">
            <input class="r14" type="text" name="email" placeholder="example@email.com" />
            <button class="btn14">Submit</button>
        </form>
        <a href="/signin"><button class="btn24">Back</button></a>
    </div>
</div>

<%- include("partials/footer")%>
