<%- include("partials/header")%>

<div class="main_r444">
    <div class="colore1444"></div>
    <div class="colore2444"></div>
    <div class="main_box_right444">
       <h1 class="h11444">Forget Password</h1>
       <form class="f_r444" action="/reset-password" method="post">
            <input class="r1444" type="password" name="oldpassword" placeholder="oldpassword" />
            <input class="r1444" type="password" name="newpassword" placeholder="newpassword" />
            <button class="btn1444">Reset Password</button>
        </form>
        <a href="/signin"><button class="btn2444">Login</button></a>
    </div>
</div>

<%- include("partials/footer")%>
